@import url(https://fonts.googleapis.com/css?family=Varela+Round);
/** {
  border: 2px dotted blue;
}*/

header h1 {
  margin-left: 1rem;
  position: absolute;
  color: #FFFDF4;

}
header div {
  margin-left: 4rem;
  position: absolute;
  color: #FFFDF4;
  margin-top: 5rem;
}
header {
  height: 1rem;
  /*background-image: url('https://images.unsplash.com/photo-1453282716202-de94e528067c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ac9b38e57a8a0724058cdcbe6a687aa8');*/
}
header img {
  height: 37rem;
  max-width: 100%;
}
body {
  background-color: #072027;
  padding-bottom: 6rem;
  max-width: 100%;
}
ul {
  color: #FFFDF4;
  list-style-type: none
}
ul li {
  text-align: center;
  /*margin-top: 37rem;*/
  font-size: 3em;
  font-family: 'Varela Round', sans-serif;
}
/*#foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin-top: 1em;
}*/
footer p {
  text-align: center;
}

article p{
  /*margin-left: 15em;*/

  color: #FFFDF4;
  /*text-align: center;*/
}
article img {
  height: 100%;
  width: 100%;
  /*margin-left: 5em;*/
  max-width: 100%;
  max-height: 100%;
  opacity: .3;

}
article img:hover {
  opacity: 1;
  /*height:14rem;
  width: 21em;*/
}
/*.project {
  margin-left: 9rem;
  padding: 1rem;
}*/
#about {
  position: absolute;
  margin-top: 50rem;
  color: #FFFDF4;

}
.button {
  color: #FFFDF4;
  font-size: 2rem;
  border: 0px;
}
.button:hover {
  color: grey;
}
